form{
    margin: 10px auto;
    width: 400px;
}
table{
    margin: 0 auto;
}
table caption{
    font:bolder 24px 微軟正黑體;
}
table th{
    width: 93px;
    text-align: right;
}
table td{
    width: 78px;
    text-align: left;
}
.re{
    color: red;
}
.time{
    float: right;
}